{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% for item in object.roles %}
            - {{ item|trans }}<br/>
        {% endfor %}
    </div>
{% endblock %}